<% include header %>
<% include menu %>

<div class="container">

<ol class="breadcrumb">
  <li><a href="/admin-ui">Home</a></li>
  <li><a href="/admin-ui/applications">Applications</a></li>
  <li class="active"><%= app.name %> </li>
</ol>

<form action="/admin-ui/application/<%= app.name %>/limit" method="post">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= app.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Active :</strong></td>
        <td>  <% if(app.active){%><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span> <%}else{%><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>  <%}%> </td>
        <td>
          <% if(app.active){%>
            <a href="javascript:DoPostDisable('<%= app.name %>')">Disable</A>
          <% }else{ %>
            <a href="javascript:DoPostEnable('<%= app.name %>')">Enable</A>
          <% } %>
        </td>
      </tr>
      <tr>
        <td><strong>Limit :</strong></td>
        <td><%= app.send.limit %></td>
        <td><input type="text" id="limit" name="limit"> <input type="submit" value="Change limit"></td>
      </tr>
      <tr>
        <td><strong>Count :</strong></td>
        <td><%= app.send.count %></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
</div> <!-- /container -->
</form>
<script language="javascript">

       function DoPostDisable(name){
          $.post("/admin/application/" + name + "/disable",function(){
            location.reload();
          });
       }

       function DoPostEnable(name){
             $.post("/admin/application/" + name + "/enable",function(){
               location.reload();
             });
       }

</script>.
<% include footer %>
