<% include header %>
<script language="javascript">

       function DoPostDisable(name){
          $.post("/admin-ui/application/" + name + "/disable");
          location.reload();
       }

       function DoPostEnable(name){
             $.post("/admin-ui/application/" + name + "/enable");
             location.reload();
       }

</script>
<% include menu %>

<form action="/admin-ui/application/newapp/limit" method="post">
<div class="container">
    <p>Name :  <%= name %> </p>
    <p>Active :  <%= active %> </p>
    <p>Limit :  <%= limit %> </p>
    <p>Count :  <%= count %> </p>

    <a href="javascript:DoPostEnable('<%= name %>')">Enable</A>
    <a href="javascript:DoPostDisable('<%= name %>')">Disable</A>
    <br>
    New limit:<input type="text" id ="limit" name ="limit">  <input type="submit" value="Change limit">

</div> <!-- /container -->
</form>
<% include footer %>
