<% include header %>
<% include menu %>

<div class="container">
<form action="/admin-ui/application/newapp/limit" method="post">
    <p>Name :  <%= app.name %> </p>
    <p>Active :  <%= app.active %> </p>
    <p>Limit :  <%= app.send.limit %> </p>
    <p>Count :  <%= app.send.count %> </p>

    <a href="javascript:DoPostEnable('<%= app.name %>')">Enable</A>
    <a href="javascript:DoPostDisable('<%= app.name %>')">Disable</A>
    <br>
    New limit:<input type="text" id ="limit" name ="limit">  <input type="submit" value="Change limit">

</div> <!-- /container -->
</form>
<script language="javascript">

       function DoPostDisable(name){
          $.post("/admin/application/" + name + "/disable",function(){
            location.reload();
          });
       }

       function DoPostEnable(name){
             $.post("/admin/application/" + name + "/enable",function(){
               location.reload();
             });
       }

</script>.
<% include footer %>
